@import "./variables";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-size: 14px;
  line-height: 18.12px;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 $sidebar-width;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-right: 1px solid $default-border-color;
  background: linear-gradient(0deg, #f8fafc, #f8fafc);
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 20px;
}

.sidebar__logo {
  padding: 0 24px;
}

.sidebar__menu {
  list-style: none;
  padding: 0 10px;

  &-item {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    column-gap: 12px;
    cursor: pointer;
    border-radius: $sidebar-item-radius;
    font-size: 16px;
    line-height: 20.7px;

    &>svg {
      width: 24px;
      height: 24px;
    }

    &>span:last-child {
      margin-left: auto;
    }
  }

  &-item--active {
    background-color: $sidebar-item-active-bg;
  }
}

.sidebar__footer {
  margin-top: auto;
}

.sidebar__logout {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  column-gap: 12px;
  border-radius: $sidebar-item-radius;
}

.mailbox-view {
  height: 100vh;
  overflow-y: auto;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 24px;
  color: $default-text-color;
}

.mailbox-view__header {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 0 24px;

  &>h1 {
    font-size: 32px;
    line-height: 41.41px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>button {
      display: flex;
      column-gap: 12px;
      align-items: center;
      font-weight: 500;
    }

    &>button:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &>div {
      display: flex;
      column-gap: 40px;
      align-items: center;
    }
  }

  &-action {
    display: inline-flex;
    column-gap: 12px;
    align-items: center;
    cursor: pointer;

    &>svg {
      width: 19px;
      height: 19px;
    }
  }
}

.mailbox-view__content {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 60px;
  height: 100%;
  overflow-y: auto;

  .mailbox-view__content__item {
    display: flex;
    column-gap: 20px;
    padding: 0 24px;
    align-items: center;
    border: 1px solid $default-border-color;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &.mailbox-view__content__item--read {
      opacity: 0.5;
    }

    &:nth-child(even) {
      background-color: $even-mail-item;
    }

    &:nth-child(odd) {
      background-color: $odd-mail-item;
    }

    &:hover {
      background-color: $hover-mail-item;
    }
  }
}

.mail-view {
  position: fixed;
  inset: 0;
  display: flex;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transition: opacity 400ms 0s ease, background-color 400ms 0s ease;

  &.mail-view--open {
    opacity: 1;
    background-color: #4c5764cc;
    backdrop-filter: blur(1px);
    pointer-events: auto;

    .mail-view__backdrop {
      pointer-events: auto;
    }

    .mail-view__body {
      transform: translateX(0);
    }
  }
}

.mail-view__backdrop {
  width: 40%;
  height: 100%;
  display: flex;
  pointer-events: none;
}

.mail-view__body {
  transform: translateX(100%);
  transition: transform 400ms 0s ease;
  margin-left: auto;
  width: 60%;
  padding: 32px;
  display: flex;
  row-gap: 32px;
  flex-direction: column;
  background-color: white;
  border: 1px solid $default-border-color;
}

.mail-view__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &>div {
    display: flex;
    column-gap: 40px;
  }

  &-action {
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
  }
}


.mail-view__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &>h1 {
    font-size: 20px;
    line-height: 25.88px;
    font-weight: 500;
    color: #121829;
  }

  &>p {
    font-size: 14px;
    line-height: 18.12px;
    color: #4b5563;
  }
}