$sidebar-item-radius: 54px;
$sidebar-item-active-bg: #d6e2fb;
$sidebar-width: 260px;
$default-border-color: #E5E7EB;
$default-text-color: #121829;
$odd-mail-item: #FFFFFF;
$even-mail-item: #F3F6FB;
$hover-mail-item: #D1E2FF;
